{% extends 'main.html' %} {% load static %} {% block content %}
<div class="row" id="box">
  {%for product in products%}
  <div class="col-lg-4">
    <img
      class="thumbnail"
      src="{{product.imageURL}}"
      width="100px"
      height="50px"
    />
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr />
      <button
        id="update"
        data-product="{{product.id}}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Add to cart
      </button>

      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: inline-block; float: right">
        ${{product.price|floatformat:2}}
      </h4>
    </div>
  </div>
  {%endfor%}
</div>
<script>
  const input = document.getElementById("search_here");
  let filteredArr = [];
  input.addEventListener("keyup", (e) => {
    box.innerHTML = " ";
    //document.location.href = "{% url 'search'  %}";
  });
</script>
<script>
  function my() {
    var ser = document.getElementById("search_here").value;
    console.log(ser);
    $.ajax({
      url: "search",
      type: "get",
      data: {
        ser_itm: ser,
      },
      dataType: "json",
      success: function (data) {
        console.log(data);
        if (data == "Item not found") {
          $("#box").html(data);
        } else $("#box").html(data.html_data);
      },
    });
  }

  if ((document.getElementById("search_here").value = "")) {
    location.reload();
  }
</script>
<script></script>
<script>
  cartBtns = document.getElementsByClassName("update-cart");
  console.log("cart", cartBtns);

  for (var i = 0; i < cartBtns.length; i++) {
    cartBtns[i].addEventListener("click", function () {
      if (user === "AnonymousUser") {
        console.log("Not amal in");
        alert("Login in First ...");

        document.location.href = "{% url 'login'  %}";
      }
    });
  }
</script>
{% endblock content %}
